<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="de.ovgu.featureide.core.cide.CIDEComposer"
            description="A purposely-simple preprocessor for Java files."
            id="de.ovgu.featureide.preprocessor.cide"
            name="CIDE"
            nature="FeatureIDE_Core.cideNature">
      </composer>
   </extension>

   <extension
         point="de.ovgu.featureide.core.wizard">
      <newProjectWizard
            class="de.ovgu.featureide.core.wizardextension.DefaultNewFeatureProjectWizardExtension"
            composerid="de.ovgu.featureide.preprocessor.cide"
            id="de.ovgu.featureide.core.munge.newProjectWizard"
            name="de.ovgu.featureide.core.cide">
      </newProjectWizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="de.ovgu.featureide.core.cide.viewerContribution"
            targetID="#CompilationUnitEditorContext">
         <action
               class="de.ovgu.featureide.core.cide.MarkWithFeatureAction"
               id="de.ovgu.featureide.core.cide.markwithfeatureaction"
               label="Mark with feature"
               menubarPath="de.ovgu.featureide.ui.MarkWithFeatureMenu/ui"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.core.cide.UnmarkFeatureAction"
               id="de.ovgu.featureide.core.cide.unmarkfeatureaction"
               label="Unmark feature ..."
               menubarPath="de.ovgu.featureide.ui.MarkWithFeatureMenu/ui"
               style="push">
         </action>
         <menu
               id="de.ovgu.featureide.ui.MarkWithFeatureMenu"
               label="Mark / Unmark"
               path="additions">
         </menu>
      </viewerContribution>
   </extension>

</plugin>
